<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Currency Exchange </title>
</head>
<body>

<section>
    <div>
        <form th:action="@{/request}" method="post">
            <div>
                <label for="from">City:</label>
                <br>
                <select id="from" th:name="base_code">
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="PLN">PLN</option>
                    <option value="JPY">JPY</option>
                    <option value="RON">RON</option>
                    <option value="RUB">RUB</option>
                    <option value="CHF">CHF</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                </select>
            </div>
            <div>
                <label for="for">Type:</label>
                <br>
                <select id="for" th:name="target_code">
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="PLN">PLN</option>
                    <option value="JPY">JPY</option>
                    <option value="RON">RON</option>
                    <option value="RUB">RUB</option>
                    <option value="CHF">CHF</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                </select>
            </div>
            <div>
                <label for="amount">Amount:</label>
                <input type="number" id="amount" th:name="amount">
            </div>
            <div>
                <label for="activity">What kind of activity would you like to do?</label>
                <br>
                <select id="activity" th:name="activity">
                    <option value="relaxation">Relaxation</option>
                    <option value="recreational">Recreational</option>
                    <option value="education">Education</option>
                    <option value="social">Social</option>
                    <option value="cooking">Cooking</option>
                    <option value="diy">Diy</option>
                    <option value="charity">Charity</option>
                    <option value="music">Music</option>
                    <option value="busywork">Busywork</option>
                </select>
            </div>

            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>